
{{#if partials.navlinks}}

    <!--testing dropdown-->
    <div class="dropdown">
        <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown"> &nbsp; &nbsp; menu &nbsp; &nbsp;<span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li class="dropdown-header">vanilla links</li>

            {{#each partials.navlinks.links}}
                <li><a href="{{url}}">{{text}}</a></li>
            {{/each}}

            <li class="divider"></li>
            <li><a href="/">Home</a></li>
        </ul>

    </div>

{{else}}
    <h5>(no link data)</h5>
{{/if}}
