<div class="videoGames">
    {{#each partials.videoGames.videoGames}}
        <div class="games">
            <h3>{{name}}</h3>
            <p>{{developer}}, {{release}}</p>
            <p>{{description}}</p>
        </div>
    {{/each}}
</div>