<!doctype html>
<html>
<head>
    <title>Meadowlark Travel</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header>
    <img src="img/logo.jpg" alt="Meadlark Travel Logo">
</header>
    {{{body}}}
</body>
</html>