<h2> people </h2>

{{#if dummyData}}
    <p>{{{databaseAlive}}}, {{dummyData}}</p>


{{else}}

    <p>no dummy data</p>
{{/if}}

{{!add new user}}
<form class="form-horizontal" role="form" action="/add-people?form=addingPeopleForm" method="POST">
    <input type="hidden" name="_csrf" value="{{csrf}}">

    <div class="form-group">
        <label class="col-sm-2 control-label" for="firstname-id">First name</label>
        <div class="col-sm-4">
            <input class="form-control" type="text" id="firstname-id" name="firstname_data" autocomplete="off" required autofocus>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" for="last-name-id">Last name</label>
        <div class="col-sm-4">
            <input class="form-control" type="text" id="last-name-id" name="lastname_data" autocomplete="off" required>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" for="email-id">email</label>
        <div class="col-sm-4">
            <input class="form-control" type="email" id="email-id" name="email_data" autocomplete="off" required>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" for="age-id">age</label>
        <div class="col-sm-4">
            <input class="form-control" type="number" id="age-id" name="age_data" autocomplete="off" required>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-4">
            <button type="submit" class="btn btn-default">Add User</button>
        </div>
    </div>


</form>