<h1>Home Page</h1>

{{{databaseAlive}}}

{{#if databaseAlive}}
    <p>
    <div class="alert alert-success fade in" style="padding-left: 10px; padding-right:10px">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Database</strong> is online.

    </div>
    </p>

{{/if}}
{{! partials injection!}}
{{> localweather}}
{{> videogames}}