<head>
    <script src="/lib/handlebars.min.js"></script>

    <!-- note the backslash escapes: needed otherwise server will process -->
    <!--type=text/x-handlebars-template-->
    <script id="nurseryRhymeTemplate" type="text/x-handlebars-template">
        Marry had a little <b>\{{animal}}</b>, its <b>\{{bodyPart}}</b>
        was <b>\{{adjective}}</b> as <b>\{{noun}}</b>.
    </script>

    <!-- load JQuery-->
    <script src="/lib/jquery.min.js"></script>
</head>

<body>
<div id="nurseryRhyme">Click a button...</div><hr>
<button id="btnNurseryRhyme">Generate a nursery rhyme</button>
<button id="btnNurseryRhymeAjax">Generate a nursery rhyme from AJAX</button>

<script>
    // ---- JQuery version (use) ----
    $(document).ready(function(){
        //returns a function that returns the "#nurseryRhymeTemplate" script template
        var nurseryRhymeTemplate = Handlebars.compile($('#nurseryRhymeTemplate').html());
        var $nurseryRhyme = $('#nurseryRhyme');

        $('#btnNurseryRhyme').on('click', function(e){
            e.preventDefault();

            $nurseryRhyme.html(nurseryRhymeTemplate({
                animal: 'basilisk',
                bodyPart: 'tail',
                adjective: 'sharp',
                noun: 'a needle'
            }));
        });

        $('#btnNurseryRhymeAjax').on('click', function(e){
            e.preventDefault();

            //use JQuery AjAX
            $.ajax('/data/nursery', {
                success: function(data){
                    $nurseryRhyme.html(nurseryRhymeTemplate(data));
                }
            });
        });
    });
</script>
</body>