<h1>Thank you for the submission!</h1>

<h3>data submitted</h3>
<p>{{datyum}}</p>

<a href="/add-people" autofocus> add another? </a>

<p>redirecting to list of people in 5 seconds...</p>

<script>
    setTimeout(function(){
        window.location.href="/view-people";
    }, 5000);
</script>