html, body {
  width: 100%;
  height: 100%;

  font-family: 'Arial', sans-serif;
  font-size: 16px;
  line-height: 1.5em;
}

blockquote {
  background: rgba(100,100,100,0.5);
  padding: 20px;
  border-radius: 5px;
}

.bolden {
  font-weight: bold;
  font-size: 1.2em;
  font-style: italic;
}

.games {
  margin: 10px;
  padding: 15px 20px 20px 20px;
  position: relative;
  width: 400px;
  height: 100%;

  background: rgba(100,255,100, 0.3);
  border-radius: 5px;
  box-shadow: 1px 2px 2px rgba(100,100,100,0.2);
}
